Repository blc1996/tanzu-framework-bak, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu-private/tanzu-core-reviewers, @shyaamsn, @danniel1205, @Anuj2512, @prkalle, @miclettej

fix make verify
  pkg/v1/tkg/tkgconfigpaths/zz_bundled_default_bom_files_configdata.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

CLI package plugin support newly added tagSelection field in packageRepository
  cmd/cli/plugin/package/repository_get.go
  cmd/cli/plugin/package/repository_list.go
  go.mod
  go.sum
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils_test.go
  pkg/v1/tkg/tkgpackageclient/package_install.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @Anuj2512

improvements and bug fixes
  cmd/cli/plugin/package/repository_get.go
  cmd/cli/plugin/package/repository_list.go
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
  pkg/v1/tkg/tkgpackageclient/repository_update_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @Anuj2512

remove tagselection schema check
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

Update package plugin integration test
  pkg/v1/tkg/test/tkgpackageclient/config/package_plugin_config.yaml
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

CLI package plugin support newly added tagSelection field in packageRepository
  cmd/cli/plugin/package/repository_get.go
  cmd/cli/plugin/package/repository_list.go
  go.mod
  go.sum
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils_test.go
  pkg/v1/tkg/tkgpackageclient/package_install.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @Anuj2512

improvements and bug fixes
  cmd/cli/plugin/package/repository_get.go
  cmd/cli/plugin/package/repository_list.go
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
  pkg/v1/tkg/tkgpackageclient/repository_update_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @Anuj2512

remove tagselection schema check
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

Update package plugin integration test
  pkg/v1/tkg/test/tkgpackageclient/config/package_plugin_config.yaml
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

Update package plugin integration test
  pkg/v1/tkg/test/tkgpackageclient/config/package_plugin_config.yaml
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

refactor code and add more unit tests
  addons/go.mod
  addons/go.sum
  pkg/v1/tkg/test/tkgpackageclient/config/package_plugin_config.yaml
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/package_install.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
  pkg/v1/tkg/tkgpackagedatamodel/constants.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @shyaamsn, @danniel1205

improvements and bug fixes
  cmd/cli/plugin/package/repository_get.go
  cmd/cli/plugin/package/repository_list.go
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
  pkg/v1/tkg/tkgpackageclient/repository_update_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @Anuj2512

remove tagselection schema check
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

refactor code and add more unit tests
  addons/go.mod
  addons/go.sum
  pkg/v1/tkg/test/tkgpackageclient/config/package_plugin_config.yaml
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/package_install.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
  pkg/v1/tkg/tkgpackagedatamodel/constants.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @shyaamsn, @danniel1205

CLI package plugin support newly added tagSelection field in packageRepository
  cmd/cli/plugin/package/repository_get.go
  cmd/cli/plugin/package/repository_list.go
  go.mod
  go.sum
  pkg/v1/tkg/tkgpackageclient/constant.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils.go
  pkg/v1/tkg/tkgpackageclient/image_tag_utils_test.go
  pkg/v1/tkg/tkgpackageclient/package_install.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers, @Anuj2512

Update package plugin integration test
  pkg/v1/tkg/test/tkgpackageclient/config/package_plugin_config.yaml
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

address review comments
  pkg/v1/tkg/test/tkgpackageclient/package_plugin_integration_test.go
  pkg/v1/tkg/tkgpackageclient/image_utils.go
  pkg/v1/tkg/tkgpackageclient/image_utils_test.go
  pkg/v1/tkg/tkgpackageclient/repository_add.go
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

address comments
  go.sum
  pkg/v1/tkg/tkgpackageclient/repository_update.go
Owners: @vmware-tanzu-private/tanzu-core-reviewers

CODEOWNERS:

* @vmware-tanzu-private/tanzu-core-reviewers
/addons @vmware-tanzu-private/tanzu-core-reviewers @shyaamsn @danniel1205
/cmd/cli @vmware-tanzu-private/tanzu-core-reviewers @Anuj2512
/cmd/cli/plugin/tkr @vmware-tanzu-private/tanzu-core-reviewers @prkalle
/pkg/v1/cli @vmware-tanzu-private/tanzu-core-reviewers @miclettej @Anuj2512
/pkg/v1/providers @vmware-tanzu-private/tanzu-core-reviewers @Anuj2512
/pkg/v1/tkr @vmware-tanzu-private/tanzu-core-reviewers @prkalle
